* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}



html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
}
 /*styling for a navbar*/


nav {
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    height: 120px;
    background: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
nav .logoName{
    display: flex;
    place-items: center;
}
.logo{
    margin-left:40px;

}
nav .logoName .logo img{
    width:8vw;
}
.name{

}

nav h4 {
    color: rgb(19, 105, 105);
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

nav ul {
    display: flex;
    gap: 2vw;
    list-style: none;
    justify-content: end;
    width: 70%;
    cursor: pointer;
    margin-top: 38px;
    margin-right: 20px;
}



nav ul li {
    font-size: 23px;
}

nav ul li a:link,
na ul li a:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.active {
    color: #fffbfb;
    background: #306bdb;
    width: 73px;
    height: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.active:hover {
    color: white;
}


nav ul li a:hover {
    color: #306bdb;
}

.mobile-nav-btn {
    margin-right: 16px;
    display: none;
    background: transparent;
    cursor: pointer;
}

.nav-icon[name="close-nav"] {
    display: none;
}

.nav-icon {
    width: 30px;
}


nav ul li a {
    color: black;
}
.imageContainer{
    width: 85%;
    transform: translate(-50%,-50%);
    top: 38%;
    overflow: hidden;
    height: 75vh;
    left: 50%;
    position: relative;
    display: block;
    z-index:-1;
}
.imageSlider{
    width:100%;
    display: flex;
    animation: slide 16s infinite;

}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-200%);
    }
    85%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    
}
.imageContainer .imageSlider img{
    width:100%;
}
.dropdown-menu-1{
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 14%;
    background: #f1eff3;
    height: 200px;
    font-weight: bolder;
    display: none;
    text-align: center;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.dropdown-menu-2{
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 14%;
    background: #f1eff3;
    height: 200px;
    font-weight: bolder;
    display: none;
    text-align: center;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.dropdown-menu-1 a{
    text-decoration: none;
    border-bottom: 1px solid gray;
    place-items: center;
    padding-top:12px;
}
.dropdown-menu-1 a:hover{
    background: #0000FF;
    color: white;
}
.dropdown-menu-2 a{
    text-decoration: none;
    border-bottom: 1px solid gray;
    place-items: center;
    padding-top:12px;
}
.dropdown-menu-2 a:hover{
    background: #0000FF;
    color: white;
}


nav ul li:hover .dropdown-menu-1{
    display: grid;
}
nav ul .list-2:hover .dropdown-menu-2{
    display: grid;
}
.aboutSchool{
    display: flex;
    justify-content: space-around;
    place-items: center;
    margin-top: 60px;
}
.quotes img{
     width:370px;
}
.about{
     width: 500px;
}
.about h3{

}
.about .line{
    width: 77px;
    height: 5px;
    background: red;
    margin-bottom: 27px;
}
.about p{
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: -2px;
    color: #303030;
}
.readmore-btn{
   margin-top:15px;
}
.readmore-btn button{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: white;
    width: 10vw;
    height: 7vh;
    border: none;
    color:black;
}
.readmore-btn button:hover{
    background: #303030;
    color: white;
}
footer{
  padding-top: 60px;
  font-weight: 700;
  margin-bottom: 50px;
}
footer p{
    text-align: center;
    font-size: 13px;
}
footer p a{
    color: #181888;
    text-decoration: none;
    
}
.line-2{
    background: #b7b0b0;
    height: 1px;
    width: 80%;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
}
.disclaimer{
   display: flex;
   justify-content: center;
   font-size: 13px;
   width: 80%;
   margin-left:auto;
   margin-right: auto;
   margin-top:20px;
   gap:90px;
}
.disclaimer-1{
    text-align:justify ;
}
.disclaimer-2{
    text-align:left ;
}

 /*css for mobile navbar*/
@media(max-width:980px) {
    .mobile-nav-btn {
        display: block;
        z-index: 999;

    }

    .nav {
        position: relative;
        margin-top: 0;
    }

    .nav h4 {
        color: darkslategray;
        font-size: 20px;
        margin-left: 10px;
    }

    .nav-list {
        /*display: none;*/
        width: 45%;
        height: 50vh;
        background: linear-gradient(to right, #a29b93, #06a7f4);
        position: absolute;
        top: 36px;
        left: 51%;
        right: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .show .nav-list {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
    }

    .show .mobile-nav-btn .nav-icon[name="hamB"] {
        display: none;
    }

    .show .mobile-nav-btn .nav-icon[name="close-nav"] {
        display: block;
    }
    nav .logoName{
        width: 100%;
        justify-content: center;
    }
    .hide{
        display:none;
    }
    .dropdown-menu-1{
        right:50%;
        top:14%;
    }

}